#!/bin/bash

RUN_ONCE_PATH=/var/run/kubeadm-run-once

# Short-circuit if we've already run kubeadm on the host.
[ -e $RUN_ONCE_PATH ] && exit 0

kubeadm join \
  --discovery-file ${KUBEADM_DISCOVERY_FILE} \
  -v 5

touch $RUN_ONCE_PATH
