#!/bin/bash

RUN_ONCE_PATH=/var/run/kubeadm-run-once

# Short-circuit if we've already run kubeadm on the host.
[ -e $RUN_ONCE_PATH ] && exit 0

kubeadm init \
  --pod-network-cidr="{{ flannel_pod_network_cidr }}" \
  --apiserver-advertise-address="${KUBEADM_IP_ADVERTISE:-$(hostname -I | cut -d ' ' -f1)}" \
  --upload-certs \
  --skip-token-print \
  -v 5

touch $RUN_ONCE_PATH
